.clients-list {
    display: flex;
}

.clients-list__link {
    display: block;
    height: 92px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-text-color);
    }
}

.clients-list__icon {
    fill: var(--icons-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients-list__link:hover &,
    .clients-list__link:focus & {
        fill: var(--accent-text-color);
    }
}

// 0px - 1199px
@media screen and (max-width: 1199px) {
    .clients-list {
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    .clients-list__item {
        margin-left: 30px;
        margin-top: 30px;
    }
}

// 0px - 767px
@media screen and (max-width: 767px) {
    .clients-list__item {
        flex-basis: calc((100% - 60px) / 2);
    }

    .clients-list__link {
        width: 210px;
        padding-right: 52px;
        padding-left: 52px;
    }
}

// 768px - 1199px
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients-list__item {
        flex-basis: calc((100% - 90px) / 3);
    }

    .clients-list__link {
        width: 226px;
        padding-right: 60px;
        padding-left: 60px;
    }
}

// 1200px +
@media screen and (min-width: 1200px) {
    .clients-list__link {
        width: 170px;
        padding-right: 32px;
        padding-left: 32px;
    }

    .clients-list__item:not(:last-child) {
        margin-right: 30px;
    } 
}



