.examples-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.examples-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
}

.examples-list__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    padding: 27px 0;
    font-weight: 700;
    @include font(14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;
    color: var(--alternative-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}