.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    padding: 40px;
    background-color: #fff;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        fill: var(--accent-text-color);
    }
}

.contact-form__text {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.contact-form__field {
    display: block;
    margin-bottom: 10px;
}

.contact-form__input-wrapper {
    position: relative;
    display: block;
}

.contact-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        outline: none;
        border-color: var(--accent-text-color);
    }
}

.contact-form__label {
    display: block;
    margin-bottom: 4px;
    color: var(--secondary-text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

}

.contact-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__input:hover + &,
    .contact-form__input:focus + & {
        fill: var(--accent-text-color);
    }
}

.contact-form__message {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        outline: none;
        border-color: var(--accent-text-color);
    }

    &::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
    
}

.contact-form__checkbox-wrapper {
    margin-bottom: 30px;
    margin-top: 20px;
}

.contact-form__checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.contact-form__checkbox-icon {

    width: 16px;
    height: 15px;
    cursor: pointer;
    margin-right: 8px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form__checkbox:checked + & {
        background-color: var(--accent-text-color);
        border-color: var(--accent-text-color);
    }
}

.policy-link {
    color: var(--accent-text-color);
}

.modal-btn_contact-form {
    display: block;
    margin: 0 auto;
    padding: 10px 56px;
}