:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --alternative-text-color: #ffffff;
    --main-bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
    --icons-color: #AFB1B8;
}